<!DOCTYPE html>
<html>
<head>
  <title>Pokémon Export</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <div class="header">
    <%= image_tag 'logo.png', alt: 'Logo', class: 'logo' %>
    <h1>POKEXPORTS</h1>
  </div>

  <div class="container">
    <div class="search-bar">
      <input type="text" id="search-input" placeholder="Rechercher un Pokémon...">
      <ul id="suggestions" class="suggestions" style="display: none;"></ul>
    </div>

    <%= form_with url: export_pokemons_path(format: :csv), method: :post do %>
      <div class="pokemon-grid">
        <% @pokemons.each do |pokemon| %>
          <div class="pokemon-card" data-pokemon-name="<%= pokemon['name']['fr'].downcase %>" id="pokemon-<%= pokemon['pokedex_id'] %>">
            <%= check_box_tag 'pokemons[]', pokemon['pokedex_id'] %>
            <p><strong>ID:</strong> <%= pokemon['pokedex_id'] %></p>
            <p><strong>Nom:</strong> <%= pokemon['name']['fr'] %></p>
            <img src="<%= pokemon['sprites']['regular'] %>" alt="<%= pokemon['name']['fr'] %>">
          </div>
        <% end %>
      </div>
      <%= button_tag "Exporter en CSV", type: :submit, class: "button" %>
    <% end %>

    <% if @pokemons.empty? %>
      <p>Aucun Pokémon trouvé.</p>
    <% end %>
  </div>
</body>
</html>
